---
/**
 * ギフトラッピングセクション
 * Dedicated box + Gift bag の2パート構成
 */
import { Image } from 'astro:assets';
import boxImg from '../assets/images/box_img.png';
import flowerGiftImg from '../assets/images/flower-gift-1.png';
import flowerDeliveryImg from '../assets/images/flower-delivery.png';
import fingerIcon from '../assets/images/finger_icon.png';
import messageImg1 from '../assets/images/tag-img-1.jpg';
import messageImg2 from '../assets/images/tag-img-2.jpg';
import tagImg from '../assets/images/tag.png';
---

<section id='gift' class='p-gift-wrapping' aria-labelledby='gift-bag-tag'>
  <div class='p-gift-wrapping__decor p-gift-wrapping__decor--top' aria-hidden='true'>
    <Image src={flowerGiftImg} alt='' class='p-gift-wrapping__decor-image' />
  </div>
  <div class='p-gift-wrapping__decor p-gift-wrapping__decor--bottom' aria-hidden='true'>
    <Image src={flowerDeliveryImg} alt='' class='p-gift-wrapping__decor-image' />
  </div>
  <!-- ===== Dedicated box ===== -->
  <div class='p-gift-wrapping__dedicated'>
    <div class='p-gift-wrapping__dedicated-box-layout'>
      <header id='gift-bag-tag' class='p-gift-wrapping__dedicated-heading'>
        <img
          src='/dedicated-box.svg'
          alt='Dedicated box'
          class='p-gift-wrapping__dedicated-heading-en-img'
        />
        <p class='p-gift-wrapping__dedicated-heading-ja'>
          メッセージ付き専用BOXでお届け<br />抹茶スイーツお試しセット
        </p>
      </header>

      <div class='p-gift-wrapping__dedicated-box-panel'>
        <div class='p-gift-wrapping__dedicated-box-visual'>
          <div class='p-gift-wrapping__dedicated-box-image'>
            <Image src={boxImg} alt='母の日専用ギフトボックス' />
          </div>
          <button
            class='p-gift-wrapping__tap-label'
            type='button'
            aria-label='タップして中を見る'
          >
            <img
              class='p-gift-wrapping__tap-icon'
              src={fingerIcon.src}
              alt=''
              aria-hidden='true'
            />
            <span>タップして<br />中を見る</span>
          </button>
        </div>
        <div class='p-gift-wrapping__price-area'>
          <span class='p-gift-wrapping__badge-shipping'>送 料 無 料</span>
          <p class='p-gift-wrapping__price'>
            <span class='p-gift-wrapping__price-yen'>¥</span><span
              class='p-gift-wrapping__price-num'>2,500</span
            ><span class='p-gift-wrapping__price-tax'>（税込）</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== Gift bag ===== -->
  <div class='p-gift-wrapping__gift-bag'>
    <div class='l-container p-gift-wrapping__gift-bag-container'>
      <header id='gift-mothers-wrap' class='p-gift-wrapping__gift-bag-heading'>
        <img
          src='/gift-bag.svg'
          alt='Gift bag'
          class='p-gift-wrapping__gift-bag-heading-en-img'
        />
        <p class='p-gift-wrapping__gift-bag-heading-ja'>
          森半オリジナルギフト袋<br />＆メッセージタグ</p>
      </header>
      <div class='p-gift-wrapping__gift-bag-body'>
        <div class='p-gift-wrapping__gift-bag-visual'>
          <div class='p-gift-wrapping__gift-bag-badge'>
            <p class='p-gift-wrapping__gift-bag-badge-text'>
              <span class='p-gift-wrapping__gift-bag-badge-highlight'
                >母の日<br />限定タグ</span
              >を<br />つけてお届けいた<br />します。
            </p>
            <span class='p-gift-wrapping__gift-bag-badge-tail'></span>
          </div>
          <div class='p-gift-wrapping__gift-bag-image'>
            <Image src={tagImg} alt='森半オリジナルギフト袋' />
          </div>
        </div>

        <div class='p-gift-wrapping__message-row'>
          <div class='p-gift-wrapping__message-item'>
            <div class='p-gift-wrapping__message-image'>
              <div class='p-gift-wrapping__message-photo-frame'>
                <Image
                  class='p-gift-wrapping__message-photo'
                  src={messageImg1}
                  alt='メッセージ付きギフト袋'
                />
              </div>
              <img
                class='p-gift-wrapping__message-tag p-gift-wrapping__message-tag--1'
                src='/tag-1.svg'
                alt=''
                aria-hidden='true'
              />
            </div>
            <p class='p-gift-wrapping__message-caption'>
              メッセージ付きで<br />想いを伝える
            </p>
          </div>
          <div class='p-gift-wrapping__message-item'>
            <p
              class='p-gift-wrapping__message-caption p-gift-wrapping__message-caption--left'
            >
              直筆メッセージで<br />想いを伝える
            </p>
            <div class='p-gift-wrapping__message-image'>
              <div class='p-gift-wrapping__message-photo-frame'>
                <Image
                  class='p-gift-wrapping__message-photo'
                  src={messageImg2}
                  alt='直筆メッセージタグ'
                />
              </div>
              <img
                class='p-gift-wrapping__message-tag p-gift-wrapping__message-tag--2'
                src='/tag-2.svg'
                alt=''
                aria-hidden='true'
              />
            </div>
          </div>
          <p class='p-gift-wrapping__note'>
※メッセージの代筆は承っておりません。
</p>
        </div>
      </div>
    </div>
  </div>
</section>
