---
/**
 * 「時間」で選ぶ母の日の贈り物
 */
import TimeSceneCard from '../components/TimeSceneCard.astro';
import { getCollection } from 'astro:content';
import { publicAssetPath } from '../utils/assets';
import relaxMain1 from '../assets/images/relax-main-1.jpg';
import relaxMain2 from '../assets/images/relax-main-2.jpg';
import relaxMain3 from '../assets/images/relax-main-3.jpg';
import relaxMain4 from '../assets/images/relax-main-4.jpg';
import relaxMain5 from '../assets/images/relax-main-5.jpg';
import relaxSub1 from '../assets/images/relax-sub-1.jpg';
import relaxSub2 from '../assets/images/relax-sub-2.jpg';
import relaxSub3 from '../assets/images/relax-sub-3.jpg';
import relaxSub4 from '../assets/images/relax-sub-4.jpg';
import relaxSub5 from '../assets/images/relax-sub-5.jpg';

const tsEntries = await getCollection('timeSceneProducts');
const timeSceneProducts = tsEntries.map((e) => e.data);
const timeSceneVisuals = {
  morning: { main: relaxMain1, sub: relaxSub1 },
  hobby: { main: relaxMain2, sub: relaxSub2 },
  afternoon: { main: relaxMain3, sub: relaxSub3 },
  evening: { main: relaxMain4, sub: relaxSub4 },
  night: { main: relaxMain5, sub: relaxSub5 },
} as const;
---

<section
  id='time-scene'
  class='l-section l-section--bg-base p-time-scene'
  aria-labelledby='heading-time-scene'
  style={`--time-scene-ribbon-bg: url("${publicAssetPath('/ribon_bg.svg')}")`}
>
  <div class='l-container'>
    <!-- ヘッダー -->
    <header class='p-time-scene__header'>
      <span class='p-time-scene__badge'>時間のタグ付き</span>
      <h2 id='heading-time-scene' class='p-time-scene__title'>
        <span class='p-time-scene__title-main'
          >おかあさんに届けたい<br />"時間"で選ぶ母の日の贈り物</span
        >
        <img
          src={publicAssetPath('/timetorelax.svg')}
          alt='Time to Relax'
          class='p-time-scene__title-en-img'
        />
      </h2>
    </header>

    <!-- リスト -->
    <ul class='p-time-scene__list'>
      {
        timeSceneProducts.map((product) => {
          const visuals = timeSceneVisuals[product.id as keyof typeof timeSceneVisuals];

          return (
            <li class='p-time-scene__item'>
              <TimeSceneCard
                name={product.name}
                price={product.price}
                description={product.description}
                href={product.href}
                mainImage={visuals.main}
                subImage={visuals.sub}
              />
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
